/* 각각의 페이지의 내용 콘텐츠 영역 - 회사소개 내용 */
#content .content_area {font-family: 'Noto Sans KR', sans-serif; margin-bottom: 130px;}
#content .content_area>p {font-size: 1.625em; line-height: 1.5em; text-align: justify; 
    width: 1100px; margin: 0 auto; text-align: center; margin-bottom: 130px;}