/* sub2_5 content */
.intro {width: 100%; height: 130px; margin-bottom: 30px;
    background: url(../images/sub2_5_title_bg.jpg) bottom center no-repeat; background-size: cover;}
.intro dl {float: left; color: #fff; width: 95%;
    position: relative; left: 50%; top: 50%; transform: translate(-50%, -50%); display: flex; align-items: center;}
.intro dl dt {text-align: center; line-height: 1em; font-size: 1.286rem; width: 40%; float: left;}
.intro dl dt span {display: block; font-family: 'Roboto', sans-serif; font-size: 0.857rem; line-height: 1.5em;}
.intro dl dd {text-align: justify; line-height: 1.5em;font-size: 0.857rem;
    width: 55%; padding-right: 5%; float: right; }

.tt {font-size: 1.286rem; position: relative; margin: 0 0 30px 30px;}
.tt::before {content: ''; width: 60%; height: 1px; background: #ccc;
    position: absolute; left: -30px; bottom: -15px;}
.tt::after {content: ''; display: block; width: 20px; height: 2px; 
    background: #ed1c24; position: absolute; left: -30px; top: 50%; transform: translateY(-50%);}

.con1 {position: relative;}
.con1 img {width: 141px; height: 160px; position: absolute; top: 0; right: 2%; z-index: -1;}
.con1 h3 {margin-bottom: 1em; font-size: 1.286rem; padding-left: 5%;}
.con1 h3 span {color: #999; font-family: 'Roboto', sans-serif; display: block; font-size: 1.143rem;}
.con1 dl {margin-bottom: 30px; padding: 0 5%;}
.con1 dl dt {margin-bottom: 1em; font-size: 1.143rem;}
.con1 dl dd {line-height: 1.5em; color: #333; text-align: justify; margin-bottom: .5em;}
.con1 dl dd span {display: block;}

.con2 {position: relative;}
.con2 table {text-align: center; width: 96%; padding: 5px 2% 30px; margin: 0 auto;}
.con2 table thead {background: #ed1c24; color: #fff; font-family: 'Roboto', sans-serif;}
.con2 span {color: #999; padding-left: 4%; font-size: 0.857rem;}

.con3 {margin: 30px 0;}
.con3 p {margin-bottom: 15px;}
.con3 p::before {display: none;}

.tabs {overflow: hidden; width: 70%; margin: 0 15%;}
.tabs li {float: left; width: 33.33%; }
.tabs li a {display: block;  padding: 5px 0; font-size: 0.857rem;
    text-align: center; border: 1px solid #ccc; border-bottom-width: 2px;}
.tabs li:last-of-type a {border-left: none;}

.tabs a.active {border-bottom-color: #ed1c24;}

.swiper-wrapper .img {overflow: hidden; margin-top: 30px; padding: 0 5%;} 
.swiper-wrapper .img .img_inner {width: 40%; overflow: hidden; float: left; margin-top: 10px;
    box-shadow: 5px 5px 5px 5px #ccc, -5px -5px 3px 2px #f1f1f1; border-radius: 20px 0 20px 0;}
.swiper-wrapper .img .img_inner img {width: 100%; height: 110px; }
.swiper-wrapper .img dl {float: right; width: 55%; padding: 0 0 30px 5%;}
.swiper-wrapper .img dl dt {font-size: 1.143rem; margin-bottom: .5em;}
.swiper-wrapper .img dl dd {line-height: 1.5em; color: #333; text-align: justify; font-size: 0.857rem;}
.swiper-wrapper table {width: 94%; padding: 0 3%; margin: 0 auto 30px; text-align: center; font-size: 0.857rem;}
.swiper-wrapper table thead tr {border-bottom: 1px solid #ccc; }
.swiper-wrapper table thead th {padding-bottom: 5px; }
.swiper-wrapper table tbody td {padding-top: 5px;}

.card {margin-bottom: 30px; clear: both;}
.card ul {overflow: hidden; width: 90%; position: relative; padding: 0 5% 30px;}
.card ul::before {content: ''; width: 100%; height: 100px; background: #f4f4f4;
    position: absolute; z-index: -1; top: 60px; left: 50%; transform: translateX(-50%);}
.card ul li {float: left; width: 24%;  background: #fff; position: relative; padding: 3%;
    box-shadow: 2px 2px 2px 2px #ccc; margin-bottom: 3%;}
.card ul li:nth-of-type(3n-1) {margin: 0 5%;}
.card ul li p:nth-of-type(1) {position: relative; padding: 10px 0; }
.card ul li p:nth-of-type(1)::after {content: ''; display: block; width: 20px; height: 2px; 
    background: #ccc; position: absolute; bottom: 4px; left: 0;}
.card ul li p:nth-of-type(2) {color: #ed1c24; font-size: 0.786rem; }
.card ul li p:nth-of-type(3) {font-size: 0.714rem; }
.card ul li p:nth-of-type(4) {font-size: 0.714rem; }
.card ul li a {display: block; padding: 5px 10px; font-size: 0.786rem; position: absolute; top: 0; right: 2%;}
.card ul li a i {font-size: 1rem;}

