@charset "utf-8";
v\:group,
v\:shape,
v\:line,
v\:polyline,
v\:rect,
v\:oval,
v\:fill {
	behavior : url(#default#VML);
}

v\: * {behavior : url(#default#VML);}
/*common*/
.background text{fill:#666;font-family:'나눔고딕', '돋움', Dotum;font-size:11px}
ul.accessibility {font-size: 1px;height: 1px; line-height: 1px; overflow: hidden; width: 1px;}
.background .fields text{fill:#666;font-family:'나눔고딕', '돋움', Dotum;font-size:11px}
.foreground .labels text{fill:#666;font-family:'나눔고딕', '돋움', Dotum;font-size:11px}
.tooltip text{fill:#777;font-family:'나눔고딕', '돋움', Dotum;font-size: 11px;}
.tooltip rect{fill:rgba(255,255,255,0.9);stroke:#ccc;stroke-width:0.5;}
.fields text{fill:#666;font-family:'나눔고딕', '돋움', Dotum;font-size:11px}
.guide_line{stroke:#4010ad;stroke-width:1}

/* Column Type */
.Nwagon_column .background line.h{stroke:#000;stroke-width:0.2;}
.Nwagon_column .background line.v{stroke:#000;stroke-width:0.1;}
.Nwagon_column .foreground .columns g rect{fill-opacity:0.7;cursor:pointer;}
.Nwagon_column .foreground .tooltip text{fill:#777;font-family:'나눔고딕', '돋움', Dotum;font-size: 9px;}
.Nwagon_column .foreground .tooltip rect{fill:rgba(255,255,255,0.9);stroke:#ccc;stroke-width:0.5;}
.Nwagon_column .labels text, .Nwagon_column .background text{fill:#666;font-family:'나눔고딕', '돋움', Dotum;font-size:11px;}

/* < IE8  */
div.label_ie {padding:0; margin:0;}